server:
  port: 8070
spring:
  profiles:
    active: dev
    include: secret
  datasource:
    url: jdbc:postgresql://localhost:5432/surl_dev
    username: postgres
    password: koreait123414
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
custom:
  site:
    name: "My Site"
logging:
  level:
    com.koreait.surl_project_11: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
